<div id="layout">
  <div id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/research/">Research</a></li>
      <li><a href="/publi/">Publications</a></li>
      <li><a href="/codes/">Codes</a></li>
      <li><a href="/teach/">Teaching</a></li>
    </ul>
  </div>
  <div id="main">
