<div class="page-foot">

    <p><a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
    {{ fill author }}. {{isnotpage /tag/*}}Last modified: {{ fill fd_mtime
    }}.{{end}}</p>
    <p>Website built with <a
    href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a>, the
    <a href="https://github.com/poole/hyde">Hyde</a> theme and the <a
    href="https://julialang.org">Julia programming language</a>.</p>
</div>
